<div class="center-vertical">
    
    
    <div class="border col-7 center-vertical">
    <div class="search">
      <% if !@feeling.nil? %>
      <p>今の気分から検索</p>
        <% @feeling.each do |feeling| %>
            <a href="/feeling/<%= feeling.id %>"><%= feeling.name %></a>
        <% end %><br>
      <% end %>
    </div>
    </div>
    
    <p></p>
    <p></p>
    
    <div class="border col-7 center-vertical">
    <div class="search">
      <% if !@timer.nil? %>
      <p>本を読める時間から検索</p>
        <% @timer.each do |timer| %>
            <a href="/timer/<%= timer.id %>"><%= timer.name %></a>
        <% end %>
      <% end %>
    </div>
    </div>
    
    <% if @feel_name.present? %>
      <% @contents.each do |content| %>
      <div class="border col-4"> 
                <p><div class="subject"><i class="fa-solid fa-book"></i> タイトル：<%= content.title %></div></p>
                <p><i class="fa-regular fa-clock"></i>　所要時間：<%= content.timer.try(:name) %></p>
                <p><i class="fa-regular fa-comment"></i> コメント：<%= content.comment %></p>
        <% if !current_user.nil? %>
          <% if Like.find_by(user_id: current_user.id, post_id: content.id) %>
            <a href="/post/<%= content.id %>/like/delete">いいね解除</a>
          <% else %>
            <a href="/post/<%= content.id %>/like">いいねする</a><br>
          <% end %>
        <% end %>
      </div>
      <% end %>
      <tr>
        <td colspan="7"><a href="/search">検索画面へ戻る</a></td>
      </tr>
    <% end %>
    
    
    <% if @time_name.present? %>
      <% @contents.each do |content| %>
      <div class="border col-4"> 
          <p><div class="subject"><i class="fa-solid fa-book"></i> タイトル：<%= content.title %></div></p>
          <p><i class="fa-regular fa-face-smile"></i> どんな気分の時におすすめか：<%= content.feeling.try(:name) %></p>
          <p><i class="fa-regular fa-comment"></i> コメント：<%= content.comment %></p>
        <% if !current_user.nil? %>
          <% if Like.find_by(user_id: current_user.id, post_id: content.id) %>
            <a href="/post/<%= content.id %>/like/delete">いいね解除</a>
          <% else %>
            <a href="/post/<%= content.id %>/like">いいねする</a><br>
          <% end %>
        <% end %>
      </div>
      <% end %>
      <tr>
        <td colspan="7"><a href="/search">検索画面へ戻る</a></td>
      </tr>
    <% end %>



    <tr>
      <td colspan="7"><a href="/home">top pageへ戻る</a></td>
    </tr>
</div>